.header-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 960px;
	max-width: 100%;
    margin: 0 auto;
}

img[alt*="main-logo"] {
    cursor: pointer;
    max-width: 100%;
    height: auto;
 }